<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous" />
</head>
<body>
  <div class="web-background-color">
    <div class="container" style="background-color:#c4c9cd; height:50px; padding:7px;">
        <form class="form-inline" >
          <div class="form-group">
            <select [(ngModel)]="searchOpt" name="searchOpt" class="form-control" style="width:100px;">
              <option ngValue="want">I Have</option>
              <option ngValue="have">I Need</option>
            </select>
          </div>
          <div class="form-group" style="margin-left:10px">
            <select [(ngModel)]="idskill" name="id" class="form-control" style="width:830px;">
              <option *ngFor="let skill of skills" ngValue="{{skill.id}}">{{skill.name}}</option>
            </select>
          </div>

          <button class="btn btn-default " style="width:170px;margin-left:10px;" type="submit" (click)="onSubmit()" name="button">search</button>

        </form>

    </div>
    <div class="container" style="text-align:right; margin-top:10px;">
      <div class="row">
          <div class="col-md-9">
          </div>
          <div class="col-md-1">
            <select class="form-control" style="width:100px;">
              <option>Date</option>
            </select>
          </div>
          <div class="col-md-1">
            <select class="form-control" style="width:100px; margin-left:10px;">
              <option>Rating</option>
            </select>
          </div>
      </div>
    </div>
      <div class="container" style="height:600px; margin-top:10px;">
        <div class="row" [hidden]=displayInformation>
          <div class="col-md-6 col-sm-6">
            <div class="panel panel-default" style="height:200px; width:520px; margin:10px">
              <div class="flex-container-row">
                <div style="height:140px; width:140px; margin:10px;">
                  <img class="img-circle img-fluid"src="../../images/user1.jpg" alt="">
                </div>
                <div style="height:140px; width:300px; margin:10px; ">
                  <div class="flex-container-column">
                    <div style="height:100px;width:100%; ">
                      <p *ngFor="let resultUserProfile of resultUserProfiles"><a *ngFor="let doc of resultUser" [routerLink]="['/profile']" [queryParams]="{email: doc.email}">{{resultUserProfile.name}}</a></p>
                    </div>
                    <div class="flex-container-row" style="height:40px;width:100%; ">
                      <div style="height:100%;width:100%;">
                          Skill have :<p *ngFor="let have of skillHave;">{{have.name}}</p>
                      </div>
                      <div style="height:100%;width:100%;">
                        Skill Need: <p *ngFor="let want of skillWant">{{want.name}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container" style=" position: relative;left: 50%; margin-left: -150px;">

          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
      </div>
  </div>


</body>
