<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous" />
</head>
<body>
  <div class="web-background-color">
    <div class="container" style="background-color:#c4c9cd; height:110px; padding:7px;">
      <div class="row">
        <div class="col-md-10">
          <div class="form-group">
            <input  ng2-auto-complete
                   [source]="skills"
                   [formControl]="idskillneed"
                   [list-formatter]="autocompleListFormatter"
                   value-property-name="id"
                   display-property-name="name"
                   placeholder="Chọn kĩ năng bạn có"
                   class="form-control">
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-secondary" style="width:100%;" type="submit" (click)="onSubmit()" name="button">Tìm kiếm</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
            <input  ng2-auto-complete
                   [source]="skills"
                   [formControl]="idskillhave"
                   [list-formatter]="autocompleListFormatter"
                   value-property-name="id"
                   display-property-name="name"
                   placeholder="Chọn kỹ năng cần tìm"
                   class="form-control">
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
      <div class="container" style="height:600px; margin-top:10px;">
        <div class="row" *ngIf="isShowData">
          <div *ngFor="let item of resultUser">
            <div class="card">
              <div class="col-md-6 col-sm-6 ">
                  <div class="card-block" style="height:200px; width:520px;">
                    <div class="flex-container-row">
                      <div style="height:140px; width:140px; margin:10px;">
                        <img class="img-circle img-fluid"src="../../images/user.jpg" alt="">
                      </div>
                      <div style="height:140px; width:300px; margin:10px; ">
                        <div class="flex-container-column">
                          <div style="height:100px;width:100%;">
                            <p>
                              <a [routerLink]="['/profile']" [queryParams]="{email: item.email}">{{item.profile.name}}</a>
                            </p>
                          </div>
                          <div class="flex-container-row" style="height:40px;width:100%; ">
                            <div style="height:100%;width:100%;">
                                Skill have: <p *ngFor="let have of item.skills.have">{{have.name}}</p>
                            </div>
                            <div style="height:100%;width:100%;">
                              Skill Need: <p *ngFor="let want of item.skills.want">{{want.name}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div style="text-align:center; font-size:30px; color:grey;" *ngIf="!isShowData">
          <p>KHÔNG TÌM ĐƯỢC NGƯỜI NÀO Ở KỸ NĂNG NÀY.</p>
        </div>
      </div>
      <div class="container" style=" position: relative;left: 50%; margin-left: -150px;">

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
  </div>


</body>
