<div class="modal-padding" *ngIf="isEdit==false">
  <div class="modal-title">
    <h2>THÊM DANH MỤC</h2>
  </div>
  <form #f="ngForm" (ngSubmit)="addCate(f)">
    <div class="row">
      <md-input-container class="input-width">
        <input mdInput ngModel name="name" placeholder="Tên danh mục" >
      </md-input-container>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-add" name="button">Thêm</button>
      </div>
      <div class="col-md-6">
        <button md-dialog-close type="button" class="btn btn-cancel" name="button">Huỷ</button>
      </div>
    </div>
  </form>
</div>
<div class="modal-padding" *ngIf="isEdit==true">
  <div class="modal-title">
    <h2>SỬA DANH MỤC</h2>
  </div>
  <form #edit="ngForm" (ngSubmit)="editCate(edit)">
    <div class="row">
      <md-input-container class="input-width">
        <input mdInput name="name" ngModel="{{category}}">
      </md-input-container>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-add" name="button">Sửa</button>
      </div>
      <div class="col-md-6">
        <button md-dialog-close type="button" class="btn btn-cancel" name="button">Huỷ</button>
      </div>
    </div>
  </form>
</div>
<div class="modal-padding" *ngIf="isDelete==true">
  <div class="modal-title">
    <h3>Bạn có chắc xoá danh mục {{category}}</h3>
  </div>
  <form>
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-add" name="button">Xoá</button>
      </div>
      <div class="col-md-6">
        <button md-dialog-close type="button" class="btn btn-cancel" name="button">Huỷ</button>
      </div>
    </div>
  </form>
</div>
