<div class="modal-padding">
  <div class="modal-title">
    <h2>THÊM NGƯỜI DÙNG</h2>
  </div>
  <form>
    <div class="row">
      <md-input-container class="input-width">
        <input mdInput placeholder="Email" >
      </md-input-container>
    </div>
    <div class="row">
      <md-input-container class="input-width">
        <input mdInput placeholder="Mật khẩu">
      </md-input-container>
    </div>
    <div class="row">
      <md-input-container class="input-width">
        <input mdInput placeholder="Xác nhận mật khẩu">
      </md-input-container>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-add" name="button">Thêm</button>
      </div>
      <div class="col-md-6">
        <button md-dialog-close type="button" class="btn btn-cancel" name="button">Huỷ</button>
      </div>
    </div>
  </form>
</div>
