<div class="web-background-color">
  <div>
      <img src="../images/cover2.png"  class="img-fluid" alt="background-image">
      <div class="searchBar">
        <form class="form-inline">
          <div class="row">
              <input type="search" class="form-control" placeholder="Bạn cần tìm kiếm kỹ năng gì ?" style="width:550px; height:50px;border-radius:50px;">
              <button type="submit" class="btn btn-default"
              style="margin-left:5px; width:60px; height:50px;color:#222930;background-color:white;border-radius:50px;"
              routerLink="/search" routerLinkActive="active">
                <i class="material-icons">search</i>
              </button>
          </div>
        </form>
      </div>
  </div>
  <div style="margin-top:10px;">
    <div class="row">
      <div class="col-md-10 offset-md-1 offset-xs-1" style=" background-color:#f7fade;padding:10px;">
        <p style="margin-top:10px;" >
          <b>Người dùng đánh giá</b><br><var>Đây là một website rất tốt</var>
        </p>
      </div>
    </div>
    <br>
      <div class="row">
        <div class="col-md-8 offset-md-1 offset-xs-3" style="border:solid; border-width:0 1px 0 0; border-color:#DDD;background-color:white;" >
          <div class="flex-container-column" style="margin-top:20px;">
            <div class="flex-news-header" >
              <!-- hot news -->
              <div class="col-md-5">
                <img src="../images/hotnews.jpg" alt="hot-news" class="img-rounded img-fluid" style="width:100%;height:100%;">
              </div>
              <div class="col-md-7" style="  border:solid;border-width:0 0 1px 0;border-color:#DDD;">
                <div class="flex-container-column">
                  <div class="flex-news-header-title">
                      <h3>Top 10 Employability Skills</h3>
                  </div>
                  <div class="flex-news-header-content">
                    <p>Communication skills — Listening, speaking and writing. Employers want people who can accurately
                        interpret what others are saying and organize and express their thoughts clearly.
                        <a href="#seemore" style="color:#4eb1ba">Xem thêm...</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-news-children">
              <!-- children news -->
                <div class="col-md-4">
                    <img src="../images/news1.jpg" alt="news1" class="img-fluid">
                    <div class="flex-news-children-title">
                      <b>Christopher Gray on How to Be a Social Entrepreneur</b>
                      <a href="#seemore" style="color:#4eb1ba">Xem thêm...</a>
                    </div>
                </div>
                <div class="col-md-4">
                  <img src="../images/news2.jpg" alt="news1" class="img-fluid">
                  <div class="flex-news-children-title">
                    <b>One Man’s Journey From Prison to College</b>
                    <a href="#seemore" style="color:#4eb1ba">Xem thêm...</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <img src="../images/news3.jpg" alt="news1" class="img-fluid">
                  <div class="flex-news-children-title">
                    <b>The Innovation Campus: Building Better Ideas</b>
                    <a href="#seemore" style="color:#4eb1ba">Xem thêm...</a>
                  </div>
                </div>

            </div>
          </div>
        </div>
        <div class="col-md-2" style="background-color:white;" >
          <div class="flex-container-column">
            <div class="flex-highestrating-title">
              <h3>Người dùng nổi bật</h3>
            </div>
            <div class="flex-highestrating-content">
              <!-- <ul>
                <li role="presentation"> -->
                  <div class="flex-highestrating-item" style="text-align:center;border-radius:50px;">
                    <!-- <a class="nav-link" routerLink="/profile" routerLinkActive="active">{{profile.name}}</a> -->
                    Comming soon
                  </div>
                <!-- </li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
