<div class="web-background-color">
  <div>
      <img src="../images/cover2.png"  class="img-fluid" alt="background-image">
      <div class="searchBar">
        <form class="form-inline">
          <div class="row">
              <!-- <input type="search" class="form-control" placeholder="Bạn cần tìm kiếm kỹ năng gì ?" style="width:550px; height:50px;border-radius:50px;"> -->
              <input  ng2-auto-complete
                     [source]="skills"
                     [formControl]="idskillneed"
                     [list-formatter]="autocompleListFormatter"
                     value-property-name="id"
                     display-property-name="name"
                     placeholder="Chọn kĩ năng bạn có"
                     class="form-control search-skill">
              <!-- <input type="text" name="" value=""> -->
              <input  ng2-auto-complete
                      [source]="skills"
                      [formControl]="idskillhave"
                      [list-formatter]="autocompleListFormatter"
                      value-property-name="id"
                      display-property-name="name"
                      placeholder="Chọn kỹ năng cần tìm"
                      class="form-control search-skill">
                      <!-- <md-select multiple [(ngModel)]="demo" name="demo" laceholder="Pick">
                        <md-option value="{{animal}}" *ngFor="let animal of animals" >{{animal}}</md-option>
                      </md-select>
                      {{demo}} -->
                      <!-- <p>{{idskillneed.value.id}}</p> -->
              <button type="submit" class="btn btn-default"
              style="margin-left:5px; width:60px; height:40px;color:#222930;background-color:white;border-radius:50px;"
              routerLink="/search" [queryParams]="{have: idskillhave.value._id,need:idskillneed.value._id}" routerLinkActive="active">
                <i class="material-icons">search</i>
              </button>
          </div>
        </form>
      </div>
  </div>
  <div style="margin-top:10px;">
    <div class="row">
      <div class="col-md-10 offset-md-1 offset-xs-1" style=" background-color:#f7fade;padding:10px;z-index=0;">
        <p style="margin-top:10px;" >
          <b>Người dùng đánh giá</b><br><var>Đây là một website rất tốt</var>
        </p>
      </div>
    </div>
    <br>
      <div class="row">
        <div class="col-md-8 offset-md-1 offset-xs-3 page-panel"  >
          <div class="flex-container-column" style="margin-top:20px;">
            <div class="flex-news-header" >
              <!-- hot news -->
              <div class="col-md-5">
                <img src="../images/hotnews.jpg" alt="hot-news" class="img-rounded img-fluid">
              </div>
              <div class="col-md-7" style="  border:solid;border-width:0 0 1px 0;border-color:#DDD;">
                <div class="flex-container-column">
                  <div class="flex-news-header-title">
                      <h3>10 kỹ năng bạn cần có trong cuộc sống</h3>
                  </div>
                  <div class="flex-news-header-content">
                    <p>Cuộc sống hiện đại đòi hỏi mỗi cá nhân không ngừng cập nhật thông tin và hoàn thiện giá trị của mình để tồn tại và phát triển,
                    bất kỳ ai cũng phải tự trang bị cho bản thân  những kỹ năng cần thiết.
                          <a class="nav-link" routerLink="/news1" routerLinkActive="active">Xem thêm...</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-news-children">
              <!-- children news -->
                <div class="col-md-4">
                    <img src="../images/news1.jpg" alt="news1" class="img-fluid">
                    <div class="flex-news-children-title">
                      <p><b>4 kỹ năng "sống còn"của sinh viên ngành kỹ thuật</b>
                      <a class="nav-link" routerLink="/news2" routerLinkActive="active">Xem thêm...</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                  <img src="../images/news2.jpg" alt="news1" class="img-fluid">
                  <div class="flex-news-children-title">
                    <p><b>Top 10 website tốt nhất để tìm bạn nước ngoài học tiếng Anh và trao đổi ngôn ngữ</b>
                      <a class="nav-link" routerLink="/news3" routerLinkActive="active">Xem thêm...</a></p>
                  </div>
                </div>
                <div class="col-md-4">
                  <img src="../images/news3.jpg" alt="news1" class="img-fluid">
                  <div class="flex-news-children-title">
                    <p><b>Top 10 swap websites</b>
                    <a class="nav-link" routerLink="/news4" routerLinkActive="active">Xem thêm...</a></p>
                  </div>
                </div>

            </div>
          </div>
        </div>
        <div class="col-md-2" style="background-color:white;" >
          <div class="flex-container-column">
            <div class="flex-highestrating-title">
              <h3>Người dùng nổi bật</h3>
            </div>
            <div class="flex-highestrating-content">
              <!-- <ul>
                <li role="presentation"> -->
                  <div class="flex-highestrating-item" style="text-align:center;border-radius:50px;">
                    <!-- <a class="nav-link" routerLink="/profile" routerLinkActive="active">{{profile.name}}</a> -->
                    Comming soon
                  </div>
                <!-- </li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
