<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous" />
</head>
<div class="web-background-color">
  <div class="w3-display-container w3-content w3-section backgroundcolor" style="max-width:1980px">
      <img src="../images/cover2.png" alt="background-image" width="100%" height="729">
      <div class="w3-display-middle w3-margin-top w3-center">
        <form class="form-inline">
          <div class="row">
              <input type="text" class="w3-round-jumbo form-control" placeholder="What are you looking for?" style="margin-top:25%;width:550px; height:50px;">
              <button type="submit" class="w3-round-jumbo btn" style="margin-top:25%;margin-left:5px; width:60px; height:50px;color::#222930;backgroud-color:white;">
                <p class="glyphicon glyphicon-search"></p>
              </button>
          </div>
        </form>
      </div>
  </div>
  <!-- <div class="container-main" > -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-offset-1" style=" background-color:#f7fade;">
      <p class="w3-margin-top w3-margin-bottom">
        <b>User Review</b><br><var>This is great website</var>
      </p>
    </div>
  </div>
    <br>
      <div class="row">
        <div class="col-md-8 col-md-offset-1 col-xs-offset-1" style="border:solid; border-width:0 1px 0 0; border-color:#DDD;background-color:white;" >
          <div class="flex-container-column" style="margin-top:20px;">
            <div class="flex-news-header" >
              <!-- hot news -->
              <div class="col-md-5">
                <img src="../images/hotnews.jpg" alt="hot-news" class="img-rounded" style="width:100%;height:100%;">
              </div>
              <div class="col-md-7" style="  border:solid;border-width:0 0 1px 0;border-color:#DDD;">
                <div class="flex-container-column">
                  <div class="flex-news-header-title">
                      <h3>Top 10 Employability Skills</h3>
                  </div>
                  <div class="flex-news-header-content">
                    <p>Communication skills — Listening, speaking and writing. Employers want people who can accurately
                        interpret what others are saying and organize and express their thoughts clearly.
                        <a href="#seemore" style="color:#4eb1ba">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-news-children">
              <!-- children news -->
                <div class="col-md-4">
                    <img src="../images/news1.jpg" alt="news1" style="height:70%;width:100%;">
                    <div class="flex-news-children-title">
                      <b>Christopher Gray on How to Be a Social Entrepreneur</b>
                      <a href="#seemore" style="color:#4eb1ba">Read More</a>
                    </div>
                </div>
                <div class="col-md-4">
                  <img src="../images/news2.jpg" alt="news1" style="height:70%;width:100%;">
                  <div class="flex-news-children-title">
                    <b>One Man’s Journey From Prison to College</b>
                    <a href="#seemore" style="color:#4eb1ba">Read More</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <img src="../images/news3.jpg" alt="news1" style="height:70%;width:100%;">
                  <div class="flex-news-children-title">
                    <b>The Innovation Campus: Building Better Ideas</b>
                    <a href="#seemore" style="color:#4eb1ba">Read More</a>
                  </div>
                </div>

            </div>
          </div>
        </div>
        <div class="col-md-2" style="background-color:white;" >
          <div class="flex-container-column">
            <div class="flex-highestrating-title">
              <h3>HIGHEST RATING</h3>
            </div>
            <div class="flex-highestrating-content">
              <!-- <ul>
                <li role="presentation"> -->
                  <div class="flex-highestrating-item w3-round-jumbo" style="text-align:center;">
                    <a class="nav-link" routerLink="/profile" routerLinkActive="active">profile</a>
                  </div>
                <!-- </li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
</div>
