<h1 class="offset-md-1 news-title">Top 10 swap websites</h1>
<div class="row">
  <div class="offset-md-1 col-md-7 col-xs-12">
    <div class="contentnews1">
      <p>
      You don't need money to get what you want.
      Here are the best websites for swapping and bartering goods and services. You'd be surprised what you can get.
      </p>
      <p>
      <a href="http://www.swapz.co.uk">www.swapz.co.uk</a> Swap site offering many goods and services.
      Current offers include a DJ who will work for you if you service his van and a woman who will dogsit in return for DVDs.
      </p>
      <p>
      <a href="http://www.swapcycle.co.uk">www.swapcycle.co.uk</a> and <a href="http://www.swapitshop.com">www.swapitshop.com</a> Good for exchange, ranging from cars to banjos.
      </p>
      <p>
      <a href="http://www.whatsmineisyours.com">www.whatsmineisyours.com</a> and <a href="http://www.bigwardrobe.com">www.bigwardrobe.com</a> Clothes and accessories.
      </p>
      <p>
      <a href="http://www.swishing.org">www.swishing.org</a> Shows you how to organise a clothes swap party with friends.
      </p>
      <p>
      <a href="http://www.gardenswapshop.co.uk">www.gardenswapshop.co.uk</a> For gardeners who have seeds to swap.
      </p>
      <p>
      <a href="http://www.readitswapit.co.uk">www.readitswapit.co.uk</a> Book-swapping site.
      </p>
      <p>
      <a href="http://www.u-exchange.com">www.u-exchange.com</a> Houses all over the world available for holiday exchanges.
      </p>
      <p>
      <a href="http://www.letslinkuk.net">www.letslinkuk.net</a> Community networks which link people who want to swap their skills and goods.
      </p>
      <p>
      <a href="http://www.staffshare.co.uk">www.staffshare.co.uk</a>Lets businesses swap staff members' time with specialists in other firms.
      </p>
    </div>
  </div>
  <div class="col-md-4" id="sidebar">
    <div class="widget-wrap">
    <h4 class="widget-title widgettitle">Những tin liên quan</h4>
    <ul>
      <li>
    <a class="linktitle" href="news2">4 kỹ năng "sống còn" cho sinh viên ngành IT</a>
    </li>
    <li>
    <a class="linktitle" href="news1">10 kỹ năng bạn cần có trong cuộc sống</a>
    </li>
    <li>
    <a class="linktitle" href="news3">Top 10 website tốt nhất để tìm bạn nước ngoài học tiếng Anh và trao đổi ngôn ngữ</a>
    </li>
    </ul>
    </div>

  </div>
</div>
