<h1 class="offset-md-1 news-title">10 kỹ năng bạn cần có trong cuộc sống</h1>
  <div class="row">
    <div class="offset-md-1 col-md-7 col-xs-12">
      <!-- <div class="flex-container-column"> -->
        <div class="contentnews1">
        <p>Cuộc sống hiện đại đòi hỏi mỗi cá nhân không ngừng cập nhật thông tin và hoàn thiện giá trị của mình để tồn tại và phát triển,
        bất kỳ ai cũng phải tự trang bị cho bản thân  những kỹ năng cần thiết
        đồng thời với đó là yêu cầu học tập bồi dưỡng rèn luyện không ngừng để nâng cao chất lượng cuộc sống.</p>

        <p>
        Chúng ta cần nâng cao kỹ năng sống của bản thân, kỹ năng làm việc của cá nhân trong tổ chức lên tầm chuyên nghiệp hơn để phù hợp vào mọi hoàn cảnh gia đình,
        cộng đồng, tổ chức xã hội và hòa nhập với quốc tế. Để có chỗ đứng trong xã hội hiện nay,
        ngoài việc học tập ở trường các bạn trẻ cần trang bị cho mình nhưng kỹ năng cần thiết để luôn vững tin vào cuộc sống .</p>

        <p>Sau đây là 10 kỹ năng bạn cần có trong cuộc sống giúp bạn hoàn thiện bản thân mình hơn và được mọi người yêu mến</p>

        <p><b>10. Thích nghi với truyền thống của mỗi nơi riêng biệt</b></p>
        <p> Có một cụm từ rất nổi tiếng  rằng “Khi bạn ở Rome thì hãy giống như một người dân Rome”,
           có nghĩa trung thành với phong tục, tập quán của xã hội nơi mà họ là du khách.
          Đây là kỹ năng làm cho chúng ta có thể giữ lại được những giá trị  lịch sử  ở những  nơi mà chúng  ta đặt chân đến  một cách  thuận lợi.</p>

          <p>Thích nghi với văn hóa địa phương bất cứ nơi nào trên thế giới giúp cho chúng ta hòa  hợp với xã hội rất dễ dàng.
            Ví dụ, nếu chúng ta  đến Đức, người dân ở đây  ăn bánh Pizza với dao và nĩa thì bạn cũng nên ăn như họ,
            đây là  lịch sự tất yếu của mỗi người để phù hợp với cuộc sống ở đó.
            Sự phát triển kỹ năng có thể cứu chính bản thân chúng ta  khỏi nhiều tình huống khó khăn  trong cuộc sống cho dù bạn đang  sống ở bất kỳ đâu trên thế giới.</p>
            <p><b>9. Học nấu ăn căn bản  </b></p>
            <p>Trên thế giới hiện nay, để sống sót và thích ứng với  sự phát triển  nhanh của thế giới, chúng ta phải biết  làm như thế nào để nuôi sống bản thân mình.
              Việc dễ dàng nhất là bạn nên biết cách nấu những món cơ bản.
              Nấu ăn cơ bản không cần phải học từ nhưng chuyên gia hàng đầu nào mà cách dễ dàng nhất bạn có thể học từ người mẹ yêu dấu của mình,
              bạn bè và những người thân của bạn hoặc  có thể học thông qua những quốn tạp chí.
            </p>
            <p>Với sự bùng nổ của internet thì học nấu ăn không còn quá khó khăn,
            việc nấu được những món ăn ngon không chỉ để thỏa mãn cơn đói của mình và của mọi người đây còn là cả một nghệ thuật tận hưởng  giúp cho cuộc sống  có nhiều màu sắc hơn,
             thỏa mãn nhu câu tận hưởng của mỗi cá nhân khi cuộc sống càng ngày càng được nâng cao.</p>
            <p><b>8.  Nâng cao khả năng nhận thức thời trang</b></p>
        <p>Đây được xem là kỹ năng quan trọng trong cuộc sống của mỗi cá nhân trong  xã hội.
          Chỉ cần nhìn qua trang phục là chúng ta có thể biết phần nào công việc họ đang làm và họ thuộc tầng lớp nào trong xã hội .
          Lựa chọn cho mình một bộ trang phục phù hợp với hoàn cảnh sống, điều kiện làm việc là điều quan trọng.
        </p>
        <p>Để phát triển và hình thành nhìn nhận cơ bản về thời trang phải bắt đầu bằng cách học nhìn và cảm nhận màu sắc ( màu nào phù hợp với màu da, vóc dáng của bản thân…)
           Tìm hiểu xu hướng phát triển của thời trang nhưng không có nghĩa là làm theo mọi thứ một cách mù quáng mà phải  tạo cho mình một phong cách riêng sao cho phù hơp và
           điều quan trọng là bạn cảm thấy thoải mái và tự tin khi khoác lên mình một bộ trang phuc cua riêng mình.</p>
           <p><b>7.Học làm kế toán căn bản</b>

           </p>
           <p>
             Đây là yếu tố thanh công cho tất cả các doanh nghiệp, học làm kế toán căn bản là cách xây dựng những kế hoạch, vạch đường đi cho những kế hoạch tài chính của bản thân và cho công việc của bạn.
             Kế toán là doanh thu, chi phí đầu ra – vào, cân đối ngân sách…
              học cách làm kế toán căn bản nhất thiết bạn cần phải ghi lại và theo dõi mỗi bước để những kế  hoạch và mục tiêu của công việc  có thể thành công.
           </p>
           <p>
             Nếu muốn đi đến thành công trong công việc thì bạn phải nắm rõ về kế toán để đưa mà được mục tiêu ma bản thân phải đạt được  một cách có khoa học, logic…
           </p>
           <p><b>6. Học cách nói “không”
           </b></p>
           <p>
              Đây là cách giúp cho chúng ta giảm bớt căng thẳng, mệt mỏi, việc nói “không” với những việc mình cảm thấy không thể thu xếp thời gian với một lịch trình đã chuẩn bị từ trước, một việc mà bạn thấy không thê làm được,
              nó không phù hợp với bạn lúc này, nó có thể giúp bạn tập trung được vào những việc mà mình đang làm một cách thoải mái.
           </p>
           <p>
        Nếu như bạn đồng ý với những việc  thục sự bạn không muốn làm, nó gây khó khăn cho bạn thì sẽ dẫn tới những hậu quả như  căng thẳng, mệt mỏi, vô cớ nổi giân với những người xung quanh. Học cách nói “không” là thói quen mà bạn cần phải học để tự tạo cho bản thân mình có cuộc sống thoải mái không căng thẳng và mêt mỏi,
         đây là thói quen tốt mà ban cần phải có trong cuộc sống.
           </p>
           <p><b>
        5.kỹ năng sơ cứu y tế.
           </b></p>
           <p>
         Đây là bài học mà bạn được học khi còn là học sinh ngồi trên ghế nhà trương,
          học cách sơ cứu y tế rất quan trọng trong cuộc sống hàng ngay cua chúng ta,
           ở bất cứ đâu bạn cũng sẽ gặp nhiều tình huống mà cần đến sơ cứu y tế, đây là kỹ năng quan trọng giúp bạn tự tin để giải quyết những tình huống như: đuối nước, say nắng, gãy xương, tụt huyết ấp,…
        </p>
        <p>Những kỹ năng sơ cứu sẽ có thể cứ mạng sống của một con người, đây là kỹ năng mà mỗi người chúng ta cần phải chuẩn bị sẵn cho mình  khi găp những tình huống không may xảy ra.
          Đây là một kỹ năng bỏ túi cho bạn khi thực hiện những chuyến du lịch xa, dài ngày, ở những nơi xa xôi hẻo lánh.</p>
          <p><b>4.Học thể thao và những hoạt động thể chất.</b></p>
          <p>
        Học những bài học tể thao là kỹ năng tốt giúp cho cuộc sống của bạn vui vẽ hơn,giảm căng thẳng mệt mỏi.
        Đây là những hoạt động  có vai trò tốt cho sức khỏe của chúng ta,vận động giúp cơ thể khỏe mạnh và sống lâu hơn,
        hoạt động đúng cách sẽ làm giảm nguy cơ mắc những bệnh mãn tính như ung thư , tiểu đường,..
          </p>
          <p>
        Làm cho cơ thể mạnh khỏe hơn, chơi thể thao và mỗi buổi sáng sẽ cung cấp năng lượng để thực hiện tốt những công việc hàng ngày của bạn giúp cơ thể tràn đầy năng lượng, đây là kỹ năng giúp bạn có cuộc sống thoải mái
        và luôn tràn đầy năng lượng giảm những căng thẳng của cuộc sống thường ngay.
          </p>
          <p><b>3. Quyết đinh nhanh</b></p>
          <p>
        Để đưa ra được những quyết định bản thân chúng ta nhiều lúc phải mất rất nhiêu thời gian để suy nghĩ và đưa ra quyết định,
        việc tốn qua nhiều thời gian vào việc đưa ra quyêt định sẽ làm ảnh hưởng tới cuộc sống, công việc của bạn.
          </p>
          <p>
        Sự tự tin là một cách giải quyết nhanh trong việc đưa ra câu trả lời, đây là yếu tố sẽ dẫn tới sự thành công hay thất bại trong công việc, thay vì lãng phí thời gian vào việc trì hoãn
        thì cần phải đưa ra quyết định nhanh chóng giúp cho công việc của bạn diễn ra thuận lợi.
          </p>
          <p><b>2.Sự tự tin</b></p>
          <p>
        Đây là một kỹ năng có đặc điểm quan trọng đối với mọi khía cạnh của cuộc sống .
        Nhiều người đấu tranh để tìm được sự tự tin cho bản thân họ,
        có được sự tự tin sẽ giúp chúng ta xử lí được mọi chuyện một cách thuận lợi
         theo sự mong muốn của bản thân, sự tự tin được thể hiện trên nhiều mặt: ngôn ngữ hình thể, hành vi, ánh mắt , lời nói,…
         Sụ tự tin được xem là chìa khóa mở cửa cho sự thành công của mỗi người.
          Xây dựng sự tư tin là bạn đã xây được con đường tương lai của bạn.
          </p>
          <p><b>1.Kỹ năng giao tiếp.</b></p>
          <p>
        Để đạt được thành công trong sự nghiêp và trong cuộc sống thì kỹ năng giao tiếp đặc biệt quan trọng,
        dù trong công việc hay trong cuộc sông hằng ngày giao tiếp tốt sẽ giúp để lại ấn tượng tốt trong mắt moi người.
          </p>

          <p>
        Khả năng giao tiếp tốt là bước đệm để bạn đi tới con đường thành công trong mọi khía cạnh,
         nó giúp bạn co thêm tự tin để đối diện với mọi khó khăn mà bạn mắc phải,
        giao tiếp tốt là phải có sức lôi quốn, diễn cảm, có sức thuyêt phục…
          </p>
          <p>

        Như vậy, sau bài viết 22 điều để bạn trở nên hành phúc hơn thì tiếp theo là 10 kỹ năng cơ bản hy vọng sẽ giúp ích nhiều trong cuộc sống hiện tại của mỗi chúng ta.
         Chúc bạn luôn vững bước trên con đường mình lựa chọn.
          </p>

        </div>
    </div>
    <div class="col-md-4" id="sidebar">
      <h4 class="widget-title">Những tin liên quan</h4>
      <ul>
        <li>
      <a class="linktitle" href="news2">4 kỹ năng "sống còn" cho sinh viên ngành IT</a>
      </li>
      <li>
      <a class="linktitle" href="news3">Top 10 website tốt nhất để tìm bạn nước ngoài học tiếng Anh và trao đổi ngôn ngữ</a>
      </li>
      <li>
      <a class="linktitle" href="news4">Top 10 swap websites</a>
      </li>
      </ul>
    </div>
  </div>
