<header>
  <nav class="nav navbar-toggleable-md navbar-light bg-faded ">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">
              <img src="../../images/VinaSwapProjectLogo.png" class="img-fluid" style="margin-left:50px;"/>
          </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="nav navbar-nav ">
                <li class="nav-item " *ngIf="!isLogin">
                    <a class="nav-link " routerLink="/login" routerLinkActive="active">Đăng Nhập</a>
                </li>
                <li class="nav-item" *ngIf="!isLogin">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active">Đăng Ký</a>
                </li>
                <li class="nav-item" *ngIf="isLogin">
                  <a class="nav-link" routerLink="/profile" routerLinkActive="active">Xin chào, {{profile.name}}!</a>
                </li>
                <li class="nav-item" *ngIf="isLogin">
                  <button md-button [mdMenuTriggerFor]="menu" ><i class="material-icons">supervisor_account</i></button>
                    <md-menu #menu="mdMenu" class="noti-style">
                      <md-nav-list *ngFor="let request of requests; let i = index">
                         <button md-button *ngIf="isEmail[i]==true" (click)="openDialog(request)" type="button">{{request.accFrom.acc.profile.name}} yêu cầu trao đổi</button>
                         <button md-button *ngIf="isEmail[i]==false && request.messages.length>=2" (click)="openDialog(request)" type="button">{{request.accTo.acc.profile.name}} trả lời yêu cầu của bạn</button>
                         <button md-button *ngIf="isEmail[i]==false && isAccept[i]==true" (click)="openDialog(request)" type="button">{{request.accTo.acc.profile.name}} chấp nhận yêu cầu của bạn</button>
                         <button md-button *ngIf="isEmail[i]==false && isDecline[i]==true" disabled type="button">{{request.accTo.acc.email}} từ chối yêu cầu của bạn</button>
                      </md-nav-list>
                    </md-menu>
                </li>
                <li class="nav-item" *ngIf="isLogin">
                    <a class="nav-link" routerLink="/logout" routerLinkActive="active">Đăng Xuất</a>
                  </li>
                </ul>
        </div>
  </nav>


</header>
