<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="containerform modal-width">

  <h1 style="text-align: center;">Welcome to Swappal</h1>
    <!-- Tell us -->
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
    <label for="InputTellUs"><p class="glyphicon glyphicon-user"></p> Tell us about you</label>
    <input type="input" name="name" ngModel class="form-control" id="InputTellUs" placeholder="What's your name?">
    <br>
    <div class="row">
      <div class="col-md-7">
        <input type="date">
      </div>
      <div class="col-md-5">
          <label for="GenderRadio">Gender</label>
          <label class="radio-inline"><input type="radio" name="gender" ngModel>Male</label>
          <label class="radio-inline"><input type="radio" name="gender" ngModel>Female</label>
      </div>
    </div>
    <hr>
    <label for="InputHelpOther1"><p class="glyphicon glyphicon-user"></p> Help others get in touch</label>
    <!-- <input type="email" class="form-control" id="InputHelpOther1" placeholder="What's your email address?"> -->
    <p name="email">{{email}}</p>
    <input type="input" name="location" ngModel class="form-control input-text-margin" id="InputHelpOther1" placeholder="Fill your location so we could find the swap friends around you">
    <hr>
    <label for="InputHelpOther2"><p class="glyphicon glyphicon-user"></p> Help others know more about you</label>
    <input type="input" name="skillhave" class="form-control input-text-margin" id="InputHelpOther2" placeholder="You're expert in">
    <input type="input" name="skillneed" class="form-control input-text-margin" id="InputHelpOther2" placeholder="You want to learn more">
    <input type="input" name="mission" ngModel class="form-control input-text-margin" id="InputHelpOther2" placeholder="You are here because">
    <input type="input" name="achievement" ngModel class="form-control input-text-margin" id="InputHelpOther2" placeholder="Your achievement in swapping are">
    <div style="text-align:center;margin-top:10px;">
      <div class="form-group">
        <button type="submit" class="btn btn-info" name="done">Done</button>
      </div>
    </div>

    </form>
</div>
