<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="containerform modal-width">

  <h1 style="text-align: center;">Welcome to Swappal</h1>
    <!-- Tell us -->
    <form class="form-group">
    <label for="InputTellUs"><p class="glyphicon glyphicon-user"></p> Tell us about you</label>
    <input type="email" class="form-control" id="InputTellUs" placeholder="What's your name?">
    <br>
    <div class="row">
      <div class="col-md-7">
        <!-- <form class="form-inline"> -->
          <div class="form-group">
            <label for="DOBCombobox">DOB</label>
            <div class="btn-group marginbtn" >
              <button type="button" class="btn btn-default beforedropdown">Month</button>
              <button type="button" class="btn dropdown dropdown-toggle dropdownbtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">demo</a></li>
              </ul>
            </div>
            <div class="btn-group marginbtn">
              <button type="button" class="btn btn-default beforedropdown">Day</button>
              <button type="button" class="btn dropdown dropdown-toggle dropdownbtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">demo</a></li>
              </ul>
            </div>
            <div class="btn-group marginbtn">
              <button type="button" class="btn btn-default beforedropdown">Year</button>
              <button type="button" class="btn dropdown dropdown-toggle dropdownbtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">demo</a></li>
              </ul>
            </div>
          </div>
        <!-- </form> -->
      </div>
      <div class="col-md-5">
          <label for="GenderRadio">Gender</label>
          <label class="radio-inline"><input type="radio" name="optradio">Male</label>
          <label class="radio-inline"><input type="radio" name="optradio">Female</label>
      </div>
    </div>
    <hr>
    <label for="InputHelpOther1"><p class="glyphicon glyphicon-user"></p> Help others get in touch</label>
    <input type="email" class="form-control" id="InputHelpOther1" placeholder="What's your email address?">
    <input type="email" class="form-control input-text-margin" id="InputHelpOther1" placeholder="Fill your location so we could find the swap friends around you">
    <hr>
    <label for="InputHelpOther2"><p class="glyphicon glyphicon-user"></p> Help others know more about you</label>
    <input type="email" class="form-control input-text-margin" id="InputHelpOther2" placeholder="You're expert in">
    <input type="email" class="form-control input-text-margin" id="InputHelpOther2" placeholder="You want to learn more">
    <input type="email" class="form-control input-text-margin" id="InputHelpOther2" placeholder="You are here because">
    <input type="email" class="form-control input-text-margin" id="InputHelpOther2" placeholder="Your achievement in swapping are">
    <div style="text-align:center;margin-top:10px;">
      <div class="form-group">
        <button type="submit" class="btn btn-info" name="done">Done</button>
      </div>
    </div>
    </form>
</div>
