<div class="web-background-color" style="height:100%;">
  <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-6 offset-xs-3">
          <h2>Đăng Nhập</h2>

          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <div class="form-group">
                  <input type="input" class="form-control" name="email" placeholder="Email" ngModel required>
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" name="pwd" placeholder="Mật khẩu" ngModel required>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary">Đăng Nhập</button>
                  <a [routerLink]="['/register']" class="btn btn-link">Đăng Ký</a>
              </div>
          </form>
          <div class="form-group">
            <button class="btn-social-facebook" (click)="signIn('facebook')"></button>
          </div>
          <!-- <div class="form-group">
            <button class="btn-social-google" (click)="signIn('google')"></button>
          </div> -->
      </div>
  </div>


  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal" id="CreateProfileModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="padding:20px;">
        <h1 style="text-align: center;">Chào mừng bạn đến với Swappal</h1>
          <!-- Tell us -->
          <form #a="ngForm" (ngSubmit)="onCreateProfile(a)">
            <label for="InputTellUs"><p class="glyphicon glyphicon-user"></p> Hãy nói cho chúng tôi biết một chút về bạn</label>
            <input type="input" name="name" ngModel class="form-control" id="InputTellUs" placeholder="Bạn tên gì ?" required>
            <br>
            <div class="row">
              <div class="col-md-5">
                <input type="date" ngModel name="dob" class="form-control" required>
              </div>
              <div class="col-md-7">
                  <label >Giới tính</label>
                  <input type="radio" name="gender" value="Male" ngModel required> Nam
                  <input type="radio" name="gender" value="Female" ngModel required> Nữ<br>

              </div>
            </div>
            <hr>
            <label for="InputHelpOther1"><p class="glyphicon glyphicon-user"></p> Mọi người liên lạc với bạn </label>
            <p name="email">{{email}}</p>
            <input type="input" name="location" ngModel class="form-control input-text-margin" id="InputHelpOther1" placeholder="Vị trí của bạn để có thể tìm người trao đổi">
            <hr>
            <label for="InputHelpOther2"><p class="glyphicon glyphicon-user"></p> Hãy giúp mọi người biết thêm về bạn</label>
            <md-select multiple=true placeholder="Pick">
              <md-option value="1">One</md-option>
              <md-option value="2">Two</md-option>
            </md-select>
            <input type="input" name="skillneed" class="form-control input-text-margin" id="InputHelpOther2" placeholder="You want to learn more">
            <input type="input" name="mission" ngModel class="form-control input-text-margin" id="InputHelpOther2" placeholder="Bạn đến đây vì">
            <input type="input" name="achievement" ngModel class="form-control input-text-margin" id="InputHelpOther2" placeholder="Nhưng gì bạn có được khi trao đổi">
            <div style="text-align:center;margin-top:10px;">
              <div class="form-group">
                <button type="submit" class="btn btn-info" name="done">Lưu</button>
              </div>
            </div>

          </form>

      </div>
    </div>
  </div>

</div>
