<div class="web-background-color" style="height:100%;">
  <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-6 offset-xs-3">
          <h2>Đăng Nhập</h2>

          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <div class="form-group">
                  <input type="input" class="form-control" name="email" placeholder="Email" ngModel required>
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" name="pwd" placeholder="Mật khẩu" ngModel required>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary">Đăng Nhập</button>
                  <a [routerLink]="['/register']" class="btn btn-link">Đăng Ký</a>
              </div>
          </form>
          <div class="form-group">
            <button class="btn-social-facebook" (click)="signIn('facebook')"></button>
          </div>
          <!-- <div class="form-group">
            <button class="btn-social-google" (click)="signIn('google')"></button>
          </div> -->
      </div>
  </div>


  <!-- Button trigger modal -->

  <!-- Modal -->
  <!-- <div class="modal" id="CreateProfileModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

    </div>
  </div> -->

</div>
